---
- name: Script de atualização de certificados
  hosts: all
  become: yes
  vars:
    script_url: "https://raw.githubusercontent.com/Redeley/Atualiza_certificado/main/atualiza_certificados.sh"
    script_path: "/tmp/atualiza_certificados.sh"

  tasks:
    - name: Baixar script do GitHub
      get_url:
        url: "{{ script_url }}"
        dest: "{{ script_path }}"
        mode: '0755'

    - name: Executar script
      command: "bash {{ script_path }}"
