---
- name: Script de atualização de certificados
  hosts: all
  become: yes
  vars:
    script_url: "https://github.com/Redeley/Atualiza_certificado.git/script_certificado.sh"
    script_path: "/tmp/script_certificado.sh"

  tasks:
    - name: Baixar script do GitHub
      get_url:
        url: "{{ script_url }}"
        dest: "{{ script_path }}"
        mode: '0755'

    - name: Executar script no servidor remoto e capturar saída
      command: "bash {{ script_path }}"
      register: script_output
      ignore_errors: yes  # opcional, se você quiser que erros no script não parem o playbook

    - name: Exibir saída do script na interface AWX
      debug:
        var: script_output.stdout_lines  
