---
- name: Script de atualização de certificados
  hosts: all
  become: yes
  
  vars:
    script_local: "./script_certificado.sh"
    script_remoto: "/tmp/script_certificado.sh"

  tasks:
    - name: Copiar script para o servidor remoto
      copy:
        src: "{{ script_local }}"
        dest: "{{ script_remoto }}"
        mode: '0755'

    - name: Executar script no servidor remoto e capturar saída
      command: "bash {{ script_remoto }}"
      register: script_output

    - name: Exibir saída do script na interface AWX
      debug:
        var: script_output.stdout_lines  
